<div class="link {{ type }}-link">
    <i class="icon icon-{{ type }}"></i>
    <div class="description">
        <div class="series">{{ series }}</div>
        <h3><a href="{{ link }}">{{ title }}</a></h3>
        {{ description }}
    </div>
</div>